<!-- https://dblate.github.io/jquery.json-editor/ -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='w3-theme-black.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='font-awesome.min.css') }}">
    <script src="{{ url_for('static',filename='api.js') }}"></script>
    <title>EndlessMonitoring</title>
</head>

<body onload="PageLoaded()">

    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="w3-center">
            <h1>SocialReview</h1>
        </div>
    </header>



    <!-- Page Container -->
    <div class="w3-main" style="margin-left:200px;margin-top:43px;">

        <!-- SUBJECT STATS -->
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
              <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-right">
                  <h3 id="nb_total_account">Loading</h3>
                </div>
                <h4>Nombre de compte</h4>
              </div>
            </div>
            <div class="w3-quarter">
              <div class="w3-container w3-green w3-padding-16">
                <div class="w3-right">
                  <h3 id="nb_total_platform">Loading</h3>
                </div>
                <h4>Nombre de platforme</h4>
              </div>
            </div>
            <div class="w3-quarter">
              <div class="w3-container w3-red w3-padding-16">
                <div class="w3-right">
                  <h3 id="nb_total_repport">Loading</h3>
                </div>
                <h4>Nombre de repport</h4>
              </div>
            </div>
        </div>
        <!-- SUBJECT STATS -->
          
        <!-- ACCOUNT -->
        <div class="w3-row-padding w3-center w3-margin-top">
            <h5>Accounts</h5>
            <!-- SEARCH BAR -->
            <input type="text" id="search_input" placeholder="Search Username/url..." onkeyup="ReloadTable()">
            <!-- SEARCH BAR -->

            <table class="w3-table w3-striped w3-white" id="accounts_table">
                <!-- <thead>
                    <tr>
                        <th>Username</th>
                        <th>Platform</th>
                        <th>Url</th>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>Platform</td>
                        <td>Url</td>
                        <td><button class="w3-button w3-theme-l1" onclick="window.location.href='account/'+get_user_id()">Profile</button></td>'
                            >Profile</button></td>
                    </tr>
                </tbody> -->
            </table>
        </div>
        <!-- ACCOUNT -->

    </div>



    <script>
        const HTML_NB_TOTAL_ACCOUNT = document.getElementById("nb_total_account");
        const HTML_NB_PLATFORM = document.getElementById("nb_total_platform");
        const HTML_NB_REPPORT = document.getElementById("nb_total_repport");

        function PageLoaded() {
            console.log("PageLoaded");
            UpdateStats();
            ReloadTable();
        }

        function UpdateStats() {
            console.log("UpdateStats");

            accounts = Account_Get_All();
            HTML_NB_TOTAL_ACCOUNT.textContent = accounts.length;

            platforms = Platform_Get_All();
            HTML_NB_PLATFORM.textContent = platforms.length;

            repports = Repport_Get_All();
            HTML_NB_REPPORT.textContent = repports.length;
        }

        function ReloadTable() {
            console.log("ReloadTable");
            const username = document.getElementById("search_input").value;

            const table = document.getElementById("accounts_table");
            table.innerHTML = "";
            const headers = ["Username", "Platform", "Url", "Profile"];
            const data = Account_Search(username)


            const tr = document.createElement("tr");
            headers.forEach(header => {
                const th = document.createElement("th");
                th.textContent = header;
                tr.appendChild(th);
            });
            table.appendChild(tr);
            
            const tbody = document.createElement("tbody");
            data.forEach(row => {
                const tr = document.createElement("tr");
                
                // Username
                const username_td = document.createElement("td");
                username_td.textContent = row.username;

                // Url
                const url_td = document.createElement("td");
                url_td.textContent = row.url;

                // Platform
                const platform_td = document.createElement("td");
                platform_td.textContent = row.platform;

                // Profile
                const profile_td = document.createElement("td");
                const button = document.createElement("button");
                button.textContent = "Profile";
                button.className = "w3-button w3-theme-l1";
                button.onclick = function() {
                    window.location.href = 'account/' + get_id(row.id, row.url, row.platform);
                }
                profile_td.appendChild(button);

                tr.appendChild(username_td);
                tr.appendChild(url_td);
                tr.appendChild(platform_td);
                tr.appendChild(profile_td);

                tbody.appendChild(tr);
            });
            table.appendChild(tbody);
        }




        function get_id(account_id, url, platform) {
            // Check if account exist
            accounts = Account_Get_All();
            for (let i = 0; i < accounts.length; i++) {
                if (accounts[i].account_id == account_id) {
                    return accounts[i].id;
                }
            }

            platforms = Platform_Get_All();
            platform_id = -1;
            for (let i = 0; i < platforms.length; i++) {
                if (platforms[i].name == platform) {
                    platform_id = platforms[i].id;
                }
            }
            
            // Create account
            Account_Create(account_id, platform_id, url);

            // Get account id
            accounts = Account_Get_All();
            for (let i = 0; i < accounts.length; i++) {
                if (accounts[i].account_id == account_id) {
                    return accounts[i].id;
                }
            }

            alert("Error: Account not found");
            return undefined;
        }


    </script>
</body>

</html>